<!-- Desktop/tablet navigation-->
<div class="hide-xt hide-ss hide-xs hide-sm">
	<ul class="nav nav-pills nav-stacked">
		<li ng-class="{active: !currentDashboard || currentDashboard == 'things-you-should-know' }" >
			<a id="tysk" href="" ng-click="tyskClick()" tabindex="0">Things You Should Know</a>
			<span class="arrow-nav"></span>
		</li>
		<li ng-class="{active: currentDashboard == 'my-interests' }">
			<a id="my-interests" href="" ng-click="interestsClick()" tabindex="0">My Interests</a>
			<span class="arrow-nav"></span>
		</li>
		<li ng-class="{active: currentDashboard == 'my-interests' }">
			<a id="survey" href="" ng-click="surveyClick()" tabindex="0">Survey</a>
			<span class="arrow-nav"></span>
		</li>
		<li>
			<button id="edit-interests-btn" ng-click="editInterestsClick(categories)" ng-class="{active: !isCollapsed}" tabindex="0">
				<div class="edit-interest">
					<div class="edit-icon"></div>
					<span class="edit-label">Edit My Interests</span>
					<span class="edit-plus" ng-bind="isCollapsed ? '+' : '-'"></span>
				</div>
			</button>
			<div collapse="isCollapsed">
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="category in categories" ng-class="{active: currentCategory == category.route}" >
						<a href="" ng-click="categoryClick(category)" ng-bind="category.title" tabindex="0"></a>
						<div class="arrow-nav"></div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<div class="interests-reminder" ng-show="currentDashboard == 'categories' && topicHasBeenClicked">
		<div class="reminder-heading">
			<div class="reminder-title">Reminder</div>
			<div class="reminder-icon"><i class="fa fa-exclamation-circle"></i></div>
		</div>
		<div class="reminder-text">When you are finished selecting, click on the 'My Interests' button above to see what you have added.</div>
	</div>
</div>

<!-- Mobile navigation: tile drawer via ( angular-snap / snap.js ) -->
<div id="mobi-tile-nav" class="hide-md hide-ce hide-lg">
	<div class="row">
		<div class="col-xs-7" ng-class="{active: !currentDashboard || currentDashboard == 'things-you-should-know' }">
			<a id="tysk-mobile"
			   href="" ng-click="tyskClick()">Things You Should Know</a>
		</div>
		<div class="col-xs-5" ng-class="{active: currentDashboard == 'my-interests' }">
			<a id="my-interests-mobile" href="" ng-click="interestsClick()">My Interests</a>
		</div>
	</div>
	<div ng-show="currentDashboard == 'my-interests'" class="row">
		<div class="col-xs-12">
			<div class="mobi-interests">
				<button ng-click="toggleArrangeClick()"
						ng-class="{'arrange-toggle': true, 'arrange-toggle-active': toggleActive}">
					<div class="arrange-icon"></div>
					<span class="mobi-label" ng-bind="arrangeLabel"></span>
				</button>
				<button class="edit-toggle" snap-toggle="right" ng-click="rightDrawerOpen()">
					<div class="mobi-edit-check"></div>
					<span class="mobi-label">Edit Interests</span>
				</button>
			</div>
		</div>
	</div>
</div>
