#survey-first-ques-container {
    padding: 20px;
    background-color: white;
    font-size: 12px;
    button {
        border-width: 0px;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        background-color: rgba(22, 155, 213, 1);
        color: #fff;
    }
    .answered-incorrectly button {
        width: 214px;
    }
}
